/* ===== ESTILOS GENERALES ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.7;
}

/* ===== HEADER ===== */
header {
    background-color: #000000;
    color: #ffffff;
    padding: 20px 40px 0px 40px;
    border-bottom: 4px solid #E81E32;
}

header h1 {
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #ffffff;
}

header h1 span {
    color: #E81E32;
}

header p {
    font-size: 13px;
    color: #B3B3B3;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 16px 0px 20px 0px;
    border-top: 1px solid #333333;
    margin-top: 16px;
}

/* ===== FOOTER ===== */
footer {
    background-color: #000000;
    color: #B3B3B3;
    text-align: center;
    padding: 30px 40px;
    border-top: 4px solid #E81E32;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

footer p {
    margin: 6px 0;
}

footer p:first-child {
    color: #ffffff;
    font-size: 15px;
}
